/node_modules
/public/node_modules/
/public/bower_components/
/public/hot
/public/storage
/public/img/webcontent
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
