.bootstrap-datetimepicker-widget table td {
    text-shadow: none
}
.datepicker table thead tr:last-child th,.login-navigation>li,.oi-title,.p-menu>li>a,.popover-title,.pt-inner .pti-header .ptih-title,.tab-nav>li>a,.table>thead>tr>th {
    text-transform: uppercase
}

.bootstrap-datetimepicker-widget {
    padding: 0!important;
    margin: 0!important;
    width: auto!important
}
.bootstrap-datetimepicker-widget:after,.bootstrap-datetimepicker-widget:before {
    display: none!important
}

.bootstrap-datetimepicker-widget table td span {
    margin: 0
}

.bootstrap-datetimepicker-widget table td span:hover {
    background: 0 0
}

.bootstrap-datetimepicker-widget [data-action=togglePicker] span {
    font-size: 25px;
    color: #ccc
}

.bootstrap-datetimepicker-widget [data-action=togglePicker] span:hover {
    color: #333
}

.bootstrap-datetimepicker-widget a[data-action] {
    color: #2196f3
}

.bootstrap-datetimepicker-widget table td.today:before {
    border: none
}


.timepicker-picker table tbody tr+tr:not(:last-child) {
    background: #2196f3;
    color: #fff
}

.timepicker-picker table tbody tr+tr:not(:last-child) td {
    border-radius: 0
}

.timepicker-picker .btn {
    box-shadow: none!important;
    background: #fff;
    color: #333
}

.datepicker.top {
    -webkit-transform-origin: 0 100%!important;
    -moz-transform-origin: 0 100%!important;
    -ms-transform-origin: 0 100%!important;
    transform-origin: 0 100%!important
}

.datepicker table thead tr th {
    border-radius: 0;
    color: #fff
}

.datepicker table thead tr th .glyphicon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 29px
}

.datepicker table thead tr th:hover .glyphicon {
    background: rgba(0,0,0,.2)
}

.datepicker table thead tr:first-child th {
    background: #2196f3;
    padding: 20px 0
}

.datepicker table thead tr:first-child th:hover {
    background: #2196f3
}

.datepicker table thead tr:first-child th.picker-switch {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase
}

.datepicker table thead tr:last-child th {
    font-weight: 400;
    font-size: 11px
}

.datepicker table thead tr:last-child th:first-child {
    padding-left: 20px
}

.datepicker table thead tr:last-child th:last-child {
    padding-right: 20px
}

.datepicker table thead tr:last-child:not(:only-child) {
    background: #128ff2
}

.datepicker table tbody tr:last-child td {
    padding-bottom: 25px
}

.datepicker table tbody tr td:first-child {
    padding-left: 13px
}

.datepicker table tbody tr td:last-child {
    padding-right: 13px
}

.datepicker table td.day {
    width: 35px;
    height: 35px;
    line-height: 20px;
    color: #333;
    position: relative;
    padding: 0;
    background: 0 0
}

.datepicker table td.day:hover {
    background: 0 0
}

.datepicker table td.day:before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: -33px;
    display: inline-block;
    background: 0 0;
    position: static;
    text-shadow: none
}

.datepicker table td.day.new,.datepicker table td.day.old {
    color: #CDCDCD
}

.datepicker table td:not(.today):not(.active):hover:before {
    background: #F0F0F0
}

.datepicker table td.today {
    color: #333
}

.datepicker table td.today:before {
    background-color: #E2E2E2
}

.datepicker table td.active {
    color: #fff
}

.datepicker table td.active:before {
    background-color: #2196f3
}

.datepicker-months .month,.datepicker-years .year,.timepicker-hours .hour,.timepicker-minutes .minute {
    border-radius: 50%
}

.datepicker-months .month:not(.active):hover,.datepicker-years .year:not(.active):hover,.timepicker-hours .hour:not(.active):hover,.timepicker-minutes .minute:not(.active):hover {
    background: #F0F0F0
}

.datepicker-months .month.active,.datepicker-years .year.active,.timepicker-hours .hour.active,.timepicker-minutes .minute.active {
    background: #2196f3
}

.timepicker-hours .hour,.timepicker-minutes .minute {
    padding: 0
}