#prefIframe  {
    margin-top: 20px;
    width: 100%;
    height: 520px;
    border: 0;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}

/* portlet selection */
.portlet-chooser {
    width: 210px;
    left: -210px;
    position: fixed;
    top: 100px;
    z-index: 99999;
    -webkit-transition: left 400ms;
    transition: left 400ms;
}

.portlet-chooser.opened {
    left: 0;
}
.portlet-chooser input {
    position: relative;
    border: 1px solid #5c6c7b;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    width: 175px;
    padding: 5px;
    margin: 3px 3px 10px 3px;
}

.portlet-chooser .toggler {
    position: absolute;
    top: 0;
    right: -48px;
    display: inline-block;
    background: #2C3E50;
    width: 48px;
    height: 48px;
    line-height: 49px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.portlet-chooser-inner {
    position: relative;
    background: #2C3E50;
    padding: 15px;
}

.portlet-chooser-inner h4 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.fld {
    border: 1px solid #5c6c7b;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    width: 175px;
    padding: 10px 5px;
    background-color: #445465;
    color: white;
    margin: 3px 3px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 12px;
}

.fld:hover{
    background-color: #4f82bc;
    border: 1px solid #356eae;
}

#listOfFields {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    width: 190px;
}
#listOfFields::-webkit-scrollbar
{
    width: 8px;  /* for vertical scrollbars */
    /*height: 6px;  for horizontal scrollbars */
}
#listOfFields::-webkit-scrollbar-track {
    background: white;
}

#listOfFields::-webkit-scrollbar-thumb {
    background: #5c6c7b
}

#listOfFields::-webkit-scrollbar-thumb:hover {
    background: #5c6c7b
}

.containerTable {
    width: 100%;
    border: red solid 1px;
    height: 300px;
}

.containerTable td {
    vertical-align: top;
}

.droppedFieldsColumn {
    width:50%;
}

.activeDroppable {
    background-color: transparent;
    border: 4px dashed #0285c4!important;
}

.hoverDroppable {
    background-color: transparent;
}

.placeholder {
    background: radial-gradient(#0288c8, #00508b);
    height: 10px;
    margin-bottom: 5px;
}

.sposta {
    width: 50px;
    background-color: #333;
    vertical-align: 50%;
    color: white;
    display: inline-block;
    cursor: move;
}
.cancella {
    width: 50px;
    background-color: #000000;
    vertical-align: 50%;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.fld-extensive {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 150px;
    margin-bottom: 5px;
}

.droppedArea {
    height: auto;
    /*min-height: 150px;*/
    padding: 5px;
    width: 100%;
}

.field-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: none;
}
.field-actions > * {
    margin: 0 0 0 5px;
}

.noset {
    border: 1px dashed #c7c9ca;
    border-radius: 3px;
    padding-top:15px;
    font-weight: bold;
    background-color: rgba(236, 240, 245, 0.4);
}

.noset:after {
    content: 'New Portlet';
}
