.np-comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.np-comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.np-comment-img img {
    display: block;
}

.np-comment-body {
    overflow: hidden;
}

.np-comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #f3f6f9;
}

.np-comment .text p:last-child {
    margin: 0;
}

.np-comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */
.np-comments {
    padding: 0!important;
    margin-top: 40px;
}
.np-comments,
.np-comment {
    position: relative;
    color: #666!important;
}

.np-comments:before,
.np-comment:before,
.np-comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.np-comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.np-comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.np-comment:hover:before {
    background: orange;
}

.np-comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #f3f6f9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}​

.np-comment:hover {
     background-color: orange!important;
}