.sltree {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    background-color: #fbfbfb;
    margin-bottom: 20px;
    min-height: 20px;
    /**
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d2d6de;
    max-height: 300px;
    overflow-y: auto;
    **/
    padding: 19px
}

.sltree a {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%
}

.sltree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}

.sltree li::before,.sltree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.sltree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
    -webkit-transition: "border-color 0.1s ease 0.1s";
    -moz-transition: "border-color 0.1s ease 0.1s";
    -o-transition: "border-color 0.1s ease 0.1s";
    transition: "border-color 0.1s ease 0.1s";
}

.sltree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px;
    -webkit-transition: "border-color 0.1s ease 0.1s";
    -moz-transition: "border-color 0.1s ease 0.1s";
    -o-transition: "border-color 0.1s ease 0.1s";
    transition: "border-color 0.1s ease 0.1s";
}

.sltree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    line-height: 16px;
    padding: 5px 8px;
    text-decoration: none;
    -webkit-transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    -moz-transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    -o-transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s
}

.sltree li.parent_li>span {
    cursor: pointer;
}

.sltree li.parent_li>span:hover {
    background-color: #df8505;
    border: 1px solid #c67605;
    color: #fff
}

.sltree li.parent_li>span:hover+ul li::after {
    border-top-color: #f89406
}

.sltree li.parent_li>span:hover+ul li::before {
    border-left-color: #f89406
}

.sltree li.parent_li>span:hover+ul li span {
    background: #fddfb3;
    border: 1px solid #faa937;
    color: #000
}

.sltree li:last-child::before {
    height: 30px
}

.sltree>ul>li::before,.sltree>ul>li::after {
    border: 0
}

.sltree span i {
    margin-right: 0.5em;
}

.sltree span.root{
    color: #fff;
    background-color: #00ab5c;
}