<main>
  <h4>Esempio 1 key-up1</h4>
  <div><key-up1></key-up1></div>
  <h4>Esempio 2 key-up2</h4>
  <div><key-up2></key-up2></div>
  <h4>Esempio 3 key-up3</h4>
  <div><key-up3></key-up3></div>
  <h4>Esempio 4 key-up4</h4>
  <div><key-up4></key-up4></div>
  <h4>Esempio 5 loop-back</h4>
  <div><loop-back></loop-back></div>
  <h4>Esempio 6 little-tour</h4>
  <div><little-tour></little-tour></div>

  <button (click)="onClickMe()">Click me!</button><br />{{clickMessage}}

  <h1>{{title}}</h1>
  <h2>My favorite hero is: {{myHero.name}}</h2>
  <p>Heroes:</p>
  <ul>
    <li *ngFor="let hero of heroes">
      {{ hero.name }}
    </li>
  </ul>

  <img src="../../assets/images/angular.png">
  <p *ngIf="heroes.length > 3">There are many heroes!</p>
</main>
