.content_title {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: inherit;
    font-weight: 700;
    line-height: 1.25;
    /*margin-bottom: 10px;*/
    font-style: normal;
    font-size: 24px;
    letter-spacing: -.028em;
}
.content_div {
    min-height: 100%;
    /*background: #0b73af;
    color: #fff;*/
    /*margin-top: -120px;*/
    margin-bottom: 20px;
    /*padding: 10px 10px;*/
    position: relative;
    /*width: 24em;*/
    overflow: auto;
    height: auto;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    padding: 20px 20px 20px 15px;
    color: rgba(0,0,0,.8);
}

@media screen and (max-width: 767px) {
    .content_div article {
        position: relative;
        width: 100%;
        height: auto;
        padding: 15px;
    }
}
@media screen and (min-width: 768px) {
    .content_div article {
        position: relative;
        width: 50%;
        float: left;
        padding: 15px;
    }
}
.content_div article div {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e4e4e4;
}

.content_div article>.overlay {
    height: auto;
    padding: 10px;
    border-top: 0;
}
.content_div article>.overlay h5 {
    font-size: 18px;
    color: #2C3E50;
}

.content_div article .cat {
    position: relative;
    float: left;
    font-size: 14px;
}

.content_div article .date {
    text-align: right;
    font-size: 14px;
}

.content_div article .date a, .content_div article .cat a{
    color: #959595;
}

